<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/_head.html' %}
</head>
<body>
  {% include 'global/partials/_header.html' %}
  {% include 'global/partials/_messages.html' %}

  <main class="content">
    {% block content %}{% endblock content %}
    {% include 'global/partials/_pagination.html' %}
  </main>

</body>
</html>
{% comment %} {% block extra_scripts %}
  {{ block.super }}
  {% include 'global/partials/_scripts.html' %}
{% endblock extra_scripts %}

{% block messages %}
  {% include 'global/partials/_messages.html' %}
{% endblock messages %} {% endcomment %}